* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #282A4F;
    
}
a {
    text-decoration: none;
}


.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;  
}
.menu_nav {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.logo {
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
}
nav ul {
    display: flex;
    list-style-type: none;   
}
.link {
    margin-left: 26px;
}
.link a  {
    text-decoration: none;
    
    font-weight: 600;
    font-size: 18px;
    position: relative;
}
.link a::before {
    content:"" ;
    bottom: -2px;
    left: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #6168E8;
    transition: ease-in 0.3s;
}

.link a:hover::before {
    width: 50%;
}


.header_top {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.header_top-desc {
    margin-top: 20px;
}

.header_title {
    font-size: 80px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    /* width: 700px; */
    padding-top: 33px;
    
    
}
/* .header_title span {
    
    border: 1px solid #000;
    padding-top: 30px;
} */
.header_bg  {
    margin-left: -55px;
}


.btn    {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 20px;
    width: 250px;
    margin-top: 65px;
    font-weight: 700;
    background-color:#365bbefb;
    transition: ease-in 0.3s;
    
}

.btn:hover {
  
    background-color: rgb(35, 70, 116); 
     
}

.btn a {
    color: #ffffff;
}


.portfolio_title {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    
}
.portfolio_card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 75px;
    
}
.portfolio_card-item {
    width: 370px;
    height: 362px; 
    background-color: #282A4F;
    transition: ease-in 0.3s;
}

.portfolio_card-item:hover {
    background-color: rgb(35, 70, 116);
    
}
    
.card_icon {
    margin-top: 30px;
    margin-left: 30px;
}
.portfolio_card-item-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 72px;
}

.portfolio_card-item-title a {
    color: #fff;
}

/* .portfolio_card-item-btn {
    height: 40px;
    width: 40px;
    left: 300px;
    top: 96px;
    background-color: rgb(92, 43, 43);
} */

.portfolio_card-item-btn a {
    display: inline-block;
    background-color: #ffffff;
    height: 40px; 
    width: 2px;
    position: relative; 
    left: 300px;
    top: 96px;
}
.portfolio_card-item-btn a:after {
    content: "";
    height: 2px; 
    width: 40px;
    background-color: #ffffff;
    position: absolute; 
    left: -19px; 
    top: 20px; 
} 


.about_title {
    margin-top: 100px;
    margin-bottom: 75px;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}

.about_text {
   
    max-width: 552px; 
    padding-top: 140px;
    font-size: 16px;
    
} 
.about_main {
    display: flex;
    justify-content: space-around;
}
.courses_title {
    margin-top: 100px;
    margin-bottom: 75px;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}
.courses_main {
    display: flex;
    justify-content: space-between;
}
.courses_text{
    max-width: 492px;
    padding-top: 96px;
    
}
footer {
    height: 150px; 
    background-color: #212731;
    margin-top: 100px;
}
.footer_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top: 50px;
}
.logo_footer {
    color: #ffffff;
}

.footer_social ul{
    display: flex;
    align-items: center;
}
.footer_link {
    margin-left: 20px;
    list-style-type: none;
}


/* МЕДИА ЗАПРОСЫ  980 px */ 

@media(max-width: 980px) {
    .header_title {
        
       
        padding-top: 33px;
        
        
    }
}

